<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <title>DOCUMENT</title>
</head>

<body>
  <div class="container-fluid w-50" style="margin-top:10%">
    <form id = "input-form" method="POST" action="/gen-url" class="text-center m-5">
      <div class="form-group">
        <label for="url">URL</label>
        <input type="text" class="form-control mt-2 mb-2" id="url" name="url" placeholder="URL">
      </div>
      <input class="btn btn-primary" type="submit" value="Generate">
    </form>
    <form id = "metrics" method="GET" action="/metrics" class="text-center m-5">
      <input class="btn btn-primary" type="submit" value="Metrics">
    </form>
    <form id = "reset-db-form" method="GET" action="/reset-db" class="text-center m-5">
      <input class="btn btn-danger" type="submit" value="Reset Database">
    </form>
    <form id = "reset-cache-form" method="GET" action="/reset-cache" class="text-center m-5">
      <input class="btn btn-danger" type="submit" value="Reset Cache">
    </form>

    
  </div>
</body>

</html>